{{> header this}}

<div class="user-selector">
	<div class="users">
		<h2>Groep {{group.number}}</h2>
		{{#each group.users}}
			<div class="user" data-slug="{{id}}">
				{{name}}
			</div>
		{{/each}}
	</div>
</div>

{{> footer}}
